/***** Loader *****/
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    @include gradient-right;
    z-index: 2;
    animation: loader-fade 1s 2s forwards;
}

@keyframes loader-fade {
    0% { opacity: 100%; }
    100% { 
        opacity: 0%;
        visibility: hidden; 
    }
}

.loader-text {
    width: 100%;
    height: 100%;
    color: white;
    @include flex-double-center;
    flex-direction: column;

    p {
        @include shrik;
        font-size: 24px;
        font-weight: 500;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        width: 64px;
        height: 64px;
        margin: 8px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/***** Location *****/
.location {
    @include flex-double-center;
    color: #353535;
    background-color: $grey-two-color;

    .fa-solid {
        margin-right: 17px;
    }
}

.location-city {
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 500;
}


/***** Reservation *****/
.reservation {
    padding: 40px 0px 70px 0px;
    text-align: center;
    background-color: $background-color;
}

.reservation-title {
    height: 68px;
    margin: 0px;
    font-size: 24px;
}

.reservation-subtitle {
    margin: 0px;
    font-size: 18px;
}

.reservation-button {
    margin-top: 40px;

    a {
        padding: 13px 19px;
        font-size: 16px;
        border-radius: 25px;
        color: white;
        @include gradient-bottom;
        @include shadow-button;

        &:hover {
            @include gradient-light;
            @include shadow-hover;
        }
    }
}

/***** Fonctionnement *****/
.fonctionnement {
    margin: 50px 20px 70px 20px;
}

.fonctionnement-title {
    height: 31px;
    margin: 0px 0px 26px 0px;
    font-size: 24px;
}

.fonctionnement-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fonctionnement-button {
    margin-left: 12px;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
        .fa-solid{
            color: $primary-color;
        }
    }
}

.numero-button {
    width: 24px;
    height: 24px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 25px;
    color: white;
    background-color: $primary-color;
    position: absolute;
    left: -12px;
}

.fonctionnement-button-content {
    width: 100%;
    padding: 10px 5px 10px 28px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: $background-color;
    @include shadow-light;

    i {
        width: 20px;
        margin-right: 20px;
    }

    p {
        font-weight: 500;
    }
}


/***** Restaurants *****/
.restaurants {
    padding: 55px 18px 65px 18px;
    background-color: $background-color;
}

.restaurants-title {
    margin-top: 0px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.restaurants-card {
    position: relative;
    border-radius: 15px;
    background-color: white;

    img {
        width: 100%;
        height: 174px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
}

.card-new {
    margin: 0px;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
    color: $green-font-color;
    background-color: $green-color;
}

.card-content {
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    padding-left: 13px;
    padding-bottom: 12px;
}

.card-name {
    margin: 12px 0px 5px 0px;
    font-size: 18px;
    font-weight: 700;
}

.card-city {
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
}

.card-heart {
    margin-bottom: 10px;
    position: relative;

    .fa-solid {
        width: 20px;
        height: 20px;
        position: absolute;
        opacity: 0;
        @include flex-double-center;
        @include gradient-right;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .fa-regular {
        width: 20px;
        height: 20px;
        @include flex-double-center;
        opacity: 100%;
        transition: all ease-in-out 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 0;
        }
    }
}


/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {

    /***** Reservation *****/
    .reservation-title {
        height: 48px;
    }

    /***** Fonctionnement *****/
    .fonctionnement {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 100% * 0.125;
        padding-right: 100% * 0.125;
    }

    .fonctionnement-title {
        padding-left: 0px;
    }

    .fonctionnement-buttons {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .fonctionnement-button {
        width: 100%;
    }

    .fonctionnement-button-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /***** Restaurants *****/
    .restaurants {
        padding-left: 100% * 0.125;
        padding-right: 100% * 0.125;
    }

    .restaurants-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }

    .restaurants-card {
        width: 45%;
    }
}