.menu-header {
    align-items: center;
}

.header-menu-link {
    position: absolute;
    left: 24px;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.menu-image {
    img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
}

.menu {
    margin-top: -32px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $background-color;
}

.menu-title {
    padding: 32px 41px 40px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0px;
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand', cursive;
    }
}

.menu-heart {
    margin-bottom: 0px;
}

.menu-meals {
    padding: 0px 13px 0px 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-meal-title {
    width: 40px;
    margin: 0px;
    opacity: 0;
    border-bottom: 3px solid $tertiary-color;
}

.menu-cards {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-card {
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    @include shadow-light;

    &:hover {
        .menu-check {
            margin-right: 0px;
        }
    }
}

.menu-animation-one {
    animation: menu-fade 1s 0.2s forwards;
}

.menu-animation-two {
    animation: menu-fade 1s 0.4s forwards;
}

.menu-animation-three {
    animation: menu-fade 1s 0.6s forwards;
}

.menu-animation-four {
    animation: menu-fade 1s 0.8s forwards;
}

.menu-animation-five {
    animation: menu-fade 1s 1.0s forwards;
}

.menu-animation-six {
    animation: menu-fade 1s 1.2s forwards;
}

.menu-animation-seven {
    animation: menu-fade 1s 1.4s forwards;
}

.menu-animation-eight {
    animation: menu-fade 1s 1.6s forwards;
}

.menu-animation-nine {
    animation: menu-fade 1s 1.8s forwards;
}

.menu-animation-ten {
    animation: menu-fade 1s 2.0s forwards;
}

.menu-animation-eleven {
    animation: menu-fade 1s 2.2s forwards;
}

.menu-animation-twelve {
    animation: menu-fade 1s 2.4s forwards;
}

.menu-animation-thirteen {
    animation: menu-fade 1s 2.6s forwards;
}

@keyframes menu-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-text {
    width: 100%;
    padding-left: 13px;
    padding-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-name {
    width: 90%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-city {
    width: 90%;
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-price {
    margin-right: 15px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 700;
}

.menu-check {
    height: 100%;
    margin-right: -64px;
    background-color: $green-color;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 0.5s ease-out;

    i {
        width: 16px;
        height: 16px;
        margin: 25px 20px;
        padding: 4px;
        @include flex-double-center;
        border-radius: 25px;
        color: $green-color;
        background-color: white;
    }
}

.menu-button {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;

    a {
        padding: 16px 50px;
    }
}


/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {
    
    .menu {
        margin-left: 100% * 0.125;
        margin-right: 100% * 0.125;
        padding-right: 100% * 0.125;
        padding-left: 100% * 0.125;
    }

    .menu-title {
        padding-top: 50px;
        justify-content: center;
    }

    .menu-heart {
        margin-left: 24px;
    }
}