/***** General *****/
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --background-color: #F6F6F6;
    --grey-one-color: #353535;
    --grey-two-color: #EAEAEA;
    --green-color: #99E2D0;
    --green-font-color: #008766;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    margin: 0px;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}


/***** Loader *****/
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    z-index: 2;
    /*animation: fade 0s 0s forwards; */
    animation: loader-fade 1s 2s forwards;
}

@keyframes loader-fade {
    0% { opacity: 100%; }
    100% { 
        opacity: 0%;
        visibility: hidden; 
    }
}

.loader-text {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-text p {
    font-family: 'Shrikhand', cursive;
    font-size: 24px;
    font-weight: 500;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/***** Header *****/
.header {
    margin: 14px 0px;
    display: flex;
    justify-content: center;
}

.header img {
    height: 36px;
    margin: 0px;
}


/***** Location *****/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #353535;
    background-color: var(--grey-two-color);
}

.location .fa-solid {
    margin-right: 17px;
}

.location-city {
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 500;
}


/***** Reservation *****/
.reservation {
    padding: 40px 0px 70px 0px;
    text-align: center;
    background-color: var(--background-color);
}

.reservation-title {
    height: 68px;
    margin: 0px;
    font-size: 24px;
}

.reservation-subtitle {
    margin: 0px;
    font-size: 18px;
}

.reservation-button {
    margin-top: 40px
}

.reservation-button a {
    padding: 13px 19px;
    font-size: 16px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
}

.reservation-button a:hover {
    background: linear-gradient(to bottom, rgba(255, 141, 228), rgba(147, 106, 230));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}


/***** Fonctionnement *****/
.fonctionnement {
    margin: 50px 20px 70px 20px;
}

.fonctionnement-title {
    height: 31px;
    margin: 0px 0px 26px 0px;
    font-size: 24px;
}

.fonctionnement-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fonctionnement-button {
    margin-left: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.fonctionnement-button:hover .fa-solid{
    color: var(--primary-color);
}

.numero-button {
    width: 24px;
    height: 24px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 25px;
    color: white;
    background-color: var(--primary-color);
    position: absolute;
    left: -12px;
}

.fonctionnement-button-content {
    width: 100%;
    padding: 10px 20px 10px 35px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--background-color);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}

.fonctionnement-button-content i {
    width: 20px;
    margin-right: 25px;
}

.fonctionnement-text {
    font-weight: 500;
}


/***** Restaurants *****/
.restaurants {
    padding: 55px 18px 65px 18px;
    background-color: var(--background-color);
}

.restaurants-title {
    margin-top: 0px;
}

.restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.restaurants-card {
    position: relative;
    border-radius: 15px;
    background-color: white;
}

.restaurants-card img {
    width: 100%;
    height: 174px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card-new {
    margin: 0px;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--green-font-color);
    background-color: var(--green-color);
}

.card-content {
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content .fa-heart {
    margin-bottom: 10px;
}

.card-text {
    padding-left: 13px;
    padding-bottom: 12px;
}


/***** Footer *****/
.footer {
    padding: 22px 25px;
    color: white;
    background-color: var(--grey-one-color);
}

.footer-logo {
    margin: 0px;
    color: white;
    font-size: 18px;
    font-family: 'Shrikhand', cursive;
}

.footer-content {
    margin-top: 16px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-content p {
    margin: 0px;
}

.footer-restaurant, .footer-partenaire {
    display: flex;
    align-items: center;
}

.footer-restaurant i, .footer-partenaire i {
    width: 18px;
    margin-right: 10px
}

.footer-contact {
    color: white;
    text-decoration: none;
}

/***** Menu *****/
.menu-header {
    align-items: center;
}

.header-menu-link {
    position: absolute;
    left: 24px;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.menu-image img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menu {
    margin-top: -32px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--background-color);
}

.menu-title {
    padding: 32px 41px 40px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Shrikhand', cursive;
}

.menu-meals {
    padding: 0px 13px 0px 13px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-meal-title {
    width: 40px;
    margin: 0px;
    opacity: 0;
    border-bottom: 3px solid var(--tertiary-color);
}

.menu-cards {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-card {
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}

.menu-animation-one {
    animation: menu-fade 1s 0.2s forwards;
}

.menu-animation-two {
    animation: menu-fade 1s 0.4s forwards;
}

.menu-animation-three {
    animation: menu-fade 1s 0.6s forwards;
}

.menu-animation-four {
    animation: menu-fade 1s 0.8s forwards;
}

.menu-animation-five {
    animation: menu-fade 1s 1.0s forwards;
}

.menu-animation-six {
    animation: menu-fade 1s 1.2s forwards;
}

.menu-animation-seven {
    animation: menu-fade 1s 1.4s forwards;
}

.menu-animation-eight {
    animation: menu-fade 1s 1.6s forwards;
}

.menu-animation-nine {
    animation: menu-fade 1s 1.8s forwards;
}

.menu-animation-ten {
    animation: menu-fade 1s 2.0s forwards;
}

.menu-animation-eleven {
    animation: menu-fade 1s 2.2s forwards;
}

.menu-animation-twelve {
    animation: menu-fade 1s 2.4s forwards;
}

.menu-animation-thirteen {
    animation: menu-fade 1s 2.6s forwards;
}

@keyframes menu-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-text {
    width: 100%;
    padding-left: 13px;
    padding-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-name {
    width: 90%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-city {
    width: 90%;
    margin: 0px;
    font-size: 17px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-card-price {
    margin-right: 15px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 700;
}

.menu-check {
    height: 100%;
    margin-right: -64px;
    background-color: var(--green-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 0.5s ease-out;
}

.menu-card:hover .menu-check {
    margin-right: 0px;
}

.menu-check i {
    width: 16px;
    height: 16px;
    margin: 25px 20px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: var(--green-color);
    background-color: white;
}

.menu-button {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.menu-button a {
    padding: 16px 50px;
}


/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {

    /***** Fonctionnement *****/
    .fonctionnement {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: calc(100% * 0.125);
        padding-right: calc(100% * 0.125);
    }

    .fonctionnement-title {
        padding-left: 0px;
    }

    .fonctionnement-buttons {
        display: flex;
        flex-direction: row;
        gap: 36px;
    }

    .fonctionnement-button {
        width: 100%;
    }

    .fonctionnement-button-content {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /***** Restaurants *****/
    .restaurants {
        padding-left: calc(100% * 0.125);
        padding-right: calc(100% * 0.125);
    }

    .restaurants-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;
    }

    .restaurants-card {
        width: 45%;
    }

    /***** Footer *****/
    .footer {
        padding: 58px 25px 30px 0px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .footer-logo {
        width: calc((100% / 8) - 25px);
        margin-left: 5%;
    }

    .footer-content {
        width: 40%;
        margin-top: 0px;
        flex-direction: row;
        justify-content: space-between;
    }

    /***** Menu *****/
    .menu {
        margin-left: calc(100% * 0.125);
        margin-right: calc(100% * 0.125);
    }
}