/***** Variables *****/
/***** Mixins *****/
/***** General *****/
* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  margin: 0px;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

/***** Header *****/
.header {
  margin: 14px 0px;
  display: flex;
  justify-content: center;
}
.header img {
  height: 36px;
  margin: 0px;
}

/***** Footer *****/
.footer {
  padding: 22px 25px;
  color: white;
  background-color: #353535;
}

.footer-logo {
  margin: 0px;
  color: white;
  font-size: 18px;
  font-family: "Shrikhand", cursive;
}

.footer-content {
  margin-top: 16px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-content p {
  margin: 0px;
}

.footer-restaurant, .footer-partenaire {
  display: flex;
  align-items: center;
}
.footer-restaurant i, .footer-partenaire i {
  width: 18px;
  margin-right: 10px;
}

.footer-contact {
  color: white;
  text-decoration: none;
}

/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {
  /***** Footer *****/
  .footer {
    padding: 58px 0px 30px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-logo {
    margin: 0px 4%;
  }
  .footer-content {
    margin-top: 0px;
    flex-direction: row;
    gap: 15px;
  }
}
/***** Loader *****/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  z-index: 2;
  animation: loader-fade 1s 2s forwards;
}

@keyframes loader-fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.loader-text {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader-text p {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 500;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  width: 64px;
  height: 64px;
  margin: 8px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***** Location *****/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  background-color: #EAEAEA;
}
.location .fa-solid {
  margin-right: 17px;
}

.location-city {
  margin: 16px 0px;
  font-size: 16px;
  font-weight: 500;
}

/***** Reservation *****/
.reservation {
  padding: 40px 0px 70px 0px;
  text-align: center;
  background-color: #F6F6F6;
}

.reservation-title {
  height: 68px;
  margin: 0px;
  font-size: 24px;
}

.reservation-subtitle {
  margin: 0px;
  font-size: 18px;
}

.reservation-button, .menu-button {
  margin-top: 40px;
}
.reservation-button a, .menu-button a {
  padding: 13px 19px;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
}
.reservation-button a:hover, .menu-button a:hover {
  background: linear-gradient(to bottom, rgb(255, 141, 228), rgb(147, 106, 230));
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

/***** Fonctionnement *****/
.fonctionnement {
  margin: 50px 20px 70px 20px;
}

.fonctionnement-title {
  height: 31px;
  margin: 0px 0px 26px 0px;
  font-size: 24px;
}

.fonctionnement-buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fonctionnement-button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  position: relative;
}
.fonctionnement-button:hover .fa-solid {
  color: #9356DC;
}

.numero-button {
  width: 24px;
  height: 24px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 25px;
  color: white;
  background-color: #9356DC;
  position: absolute;
  left: -12px;
}

.fonctionnement-button-content {
  width: 100%;
  padding: 10px 5px 10px 28px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #F6F6F6;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}
.fonctionnement-button-content i {
  width: 20px;
  margin-right: 20px;
}
.fonctionnement-button-content p {
  font-weight: 500;
}

/***** Restaurants *****/
.restaurants {
  padding: 55px 18px 65px 18px;
  background-color: #F6F6F6;
}

.restaurants-title {
  margin-top: 0px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants-card {
  position: relative;
  border-radius: 15px;
  background-color: white;
}
.restaurants-card img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.card-new {
  margin: 0px;
  padding: 10px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
}

.card-content {
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  padding-left: 13px;
  padding-bottom: 12px;
}

.card-name {
  margin: 12px 0px 5px 0px;
  font-size: 18px;
  font-weight: 700;
}

.card-city {
  margin: 0px;
  font-size: 17px;
  font-weight: 300;
}

.card-heart {
  margin-bottom: 10px;
  position: relative;
}
.card-heart .fa-solid {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 1s;
  cursor: pointer;
}
.card-heart .fa-solid:hover {
  opacity: 1;
}
.card-heart .fa-regular {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  transition: opacity s;
  cursor: pointer;
}
.card-heart .fa-regular:hover {
  opacity: 0;
}

/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {
  /***** Reservation *****/
  .reservation-title {
    height: 48px;
  }
  /***** Fonctionnement *****/
  .fonctionnement {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .fonctionnement-title {
    padding-left: 0px;
  }
  .fonctionnement-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .fonctionnement-button {
    width: 100%;
  }
  .fonctionnement-button-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /***** Restaurants *****/
  .restaurants {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .restaurants-card {
    width: 45%;
  }
}
.menu-header {
  align-items: center;
}

.header-menu-link {
  position: absolute;
  left: 24px;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.menu-image img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  margin-top: -32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #F6F6F6;
}

.menu-title {
  padding: 32px 41px 40px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-title h1 {
  margin: 0px;
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
}

.menu-heart {
  margin-bottom: 0px;
}

.menu-meals {
  padding: 0px 13px 0px 13px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-meal-title {
  width: 40px;
  margin: 0px;
  opacity: 0;
  border-bottom: 3px solid #99E2D0;
}

.menu-cards {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-card {
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}
.menu-card:hover .menu-check {
  margin-right: 0px;
}

.menu-animation-one {
  animation: menu-fade 1s 0.2s forwards;
}

.menu-animation-two {
  animation: menu-fade 1s 0.4s forwards;
}

.menu-animation-three {
  animation: menu-fade 1s 0.6s forwards;
}

.menu-animation-four {
  animation: menu-fade 1s 0.8s forwards;
}

.menu-animation-five {
  animation: menu-fade 1s 1s forwards;
}

.menu-animation-six {
  animation: menu-fade 1s 1.2s forwards;
}

.menu-animation-seven {
  animation: menu-fade 1s 1.4s forwards;
}

.menu-animation-eight {
  animation: menu-fade 1s 1.6s forwards;
}

.menu-animation-nine {
  animation: menu-fade 1s 1.8s forwards;
}

.menu-animation-ten {
  animation: menu-fade 1s 2s forwards;
}

.menu-animation-eleven {
  animation: menu-fade 1s 2.2s forwards;
}

.menu-animation-twelve {
  animation: menu-fade 1s 2.4s forwards;
}

.menu-animation-thirteen {
  animation: menu-fade 1s 2.6s forwards;
}

@keyframes menu-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-card-text {
  width: 100%;
  padding-left: 13px;
  padding-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-card-name {
  width: 90%;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-card-city {
  width: 90%;
  margin: 0px;
  font-size: 17px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-card-price {
  margin-right: 15px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 700;
}

.menu-check {
  height: 100%;
  margin-right: -64px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: margin-right 0.5s;
}
.menu-check i {
  width: 16px;
  height: 16px;
  margin: 25px 20px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #99E2D0;
  background-color: white;
}

.menu-button {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.menu-button a {
  padding: 16px 50px;
}

/* Large devices (desktop, more than 768px) */
@media (min-width: 768px) {
  .menu {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-right: 12.5%;
    padding-left: 12.5%;
  }
  .menu-title {
    padding-top: 50px;
    justify-content: center;
  }
  .menu-heart {
    margin-left: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
